* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #85C1E9;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contenidor-pokemon {
  background-color: #dbdbdb;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 89vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 5px solid black;
}

.informacio{
  display: grid;
  grid-template-rows: 15% 10% 12% 30% auto;
  grid-template-columns: 100%;
  text-align: center;
  border: 5px solid black;
  height: 89vh;
  min-width: 320px;
  background-image: url("/assets/info-background.jpg");
  background-position: top;
  background-size: cover;
  background-color: white;
}

.pokemon-nom {
  font-family: 'Pokemon Solid', sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  color: yellow;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 
  2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.pokemon-moviments{
  margin-top: 10px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 10px;
}

.pokemon-img{
  max-width: 100px;
  padding: 10px;
}

.titol-img{
  height: 10vh;
}

#titol{
  text-align: center;
}

.pokemon-imatges{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-imatges img {
  width: 150px;
  height: 150px;
}

.caracteristiques{
  font-family: 'Irish Grover', cursive;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-between;
}

#tipus{
  font-family: 'Irish Grover', cursive;
  font-size: 22px;
  color: white;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 
  2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.caracteristiques span{
  display: block;
  color: blue;
}

.pokemon-mov-text{
  font-family: 'Irish Grover', cursive;
  font-size: 18px;
}

.pokemon-mov-text strong{
  color: lightblue;
  font-size: 22px;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 
  2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}