* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #85C1E9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 520px;
}

.contenidor-pokemon {
  background-color: #dbdbdb;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 5px solid black;
  height: 100%;
}

.informacio {
  position: relative;
  text-align: center;
  border: 5px solid black;
  min-width: 320px;
  height: 100%;
  background-image: url("../assets/info-background.png");
  background-position: top;
  background-size: cover;
  background-color: white;
}

.pokemon-nom {
  font-family: 'Pokemon Solid', sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  color: yellow;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 
  2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  max-height: 90px;
  overflow: hidden;
}

.pokemon-moviments{
  margin-top: 10px;
  background-color: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.pokemon-img{
  max-width: 100px;
  padding: 10px;
}

.titol-img{
  height: 80px;
}

#titol{
  text-align: center;
}

.pokemon-imatges{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 200px;
  left: 10px;
}

.pokemon-imatges img {
  width: 150px;
  height: 150px;
}

.caracteristiques{
  font-family: 'Irish Grover', cursive;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  top: 340px;
  left: 55px;
}

#tipus{
  font-family: 'Irish Grover', cursive;
  font-size: 22px;
  color: white;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 
  2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.caracteristiques span{
  display: block;
  color: blue;
}

.pokemon-mov-text{
  font-family: 'Irish Grover', cursive;
  font-size: 18px;
}

.pokemon-mov-text strong{
  color: lightblue;
  font-size: 22px;
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 
  2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}


/*MEDIAQUERY*/
@media screen and (width < 575px) {
  main {
    min-height: 880px;
  }
  .pokemon-img{
    max-width: 80px;
    padding: 10px;
  }
  .informacio {
    min-width: 180px;
  }
  .pokemon-nom {
    padding-top: 15px;
  }
  .pokemon-imatges {
    top: 230px;
    left: 8px;
  }
  .caracteristiques{
    grid-template-columns: 100%;
    position: absolute;
    top: 550px;
    left: 34px;
  }
}